# 함수( function )

In [5]:
def add_value( number1, number2 ):
    ret_value = number1 + number2
    return ret_value
    
def add_result( number1, number2 ):
    ret_value = f'{number1} + {number2} = {number1 + number2}'
    return ret_value

In [6]:
number1 = 10
number2 = 20

In [7]:
result = add_value( number1, number2 )
print( f'{number1} + {number2} = {result}' )

10 + 20 = 30

In [8]:
print( add_result( number1, number2 ) )

10 + 20 = 30

In [10]:
def div_result( number1, number2 ):
    divide = number1 // number2
    remainder = number1 % number2
    
    return ( divide, remainder )

In [12]:
divide, remainder = div_result( number1, 2 )
print( f'{number1} / {2} = {divide}' )
print( f'{number1} % {2} = {remainder}' )

10 / 2 = 5
10 % 2 = 0

In [13]:
divide, remainder = div_result( 10.5, 2.5 )
print( f'{number1} / {2} = {divide}' )
print( f'{number1} % {2} = {remainder}' )

10 / 2 = 4.0
10 % 2 = 0.5

In [14]:
divide, remainder = div_result( number1, 0 )
print( f'{number1} / {2} = {divide}' )
print( f'{number1} % {2} = {remainder}' )

ZeroDivisionError: integer division or modulo by zero

### 함수 정의 방법

In [27]:
def div_result( number1, number2 ):
    if not isinstance( number1, int ) or not isinstance( number2, int ):
        ret_value = None
    elif number2 == 0:
        ret_value = None
    else:    
        divide = number1 // number2
        remainder = number1 % number2
        ret_value = ( divide, remainder )
    
    return ret_value

In [28]:
result = div_result( number1, 2.5 )
print( f'result = {result}' )

result = None

In [29]:
result = div_result( number1, 0 )
print( f'result = {result}' )

result = None

In [30]:
result = div_result( number1, 2 )
print( f'result = {result}' )

result = (5, 0)

In [32]:
result = div_result( number1, 2 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

10 / 2 = 5
10 % 2 = 0

In [33]:
result = div_result( number1, 0 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

Error...

### 인수 전달 형태

In [43]:
# default 인수
def div_result( arg1, arg2 = 2 ):
    if not isinstance( number1, int ) or not isinstance( number2, int ):
        ret_value = None
    elif number2 == 0:
        ret_value = None
    else:    
        divide = number1 // number2
        remainder = number1 % number2
        ret_value = ( divide, remainder )
    
    return ret_value

In [44]:
result = div_result( number2, 5 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

10 / 2 = 0
10 % 2 = 10

In [45]:
result = div_result( number2 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

10 / 2 = 0
10 % 2 = 10

In [46]:
# keyword 인수를 이용한 함수 호출
result = div_result( arg2 = 5, arg1 = 50 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

10 / 2 = 0
10 % 2 = 10

In [47]:
result = div_result( arg1 = 50, arg2 = 5 )
if result != None:
    print( f'{number1} / {2} = {result[ 0 ]}' )
    print( f'{number1} % {2} = {result[ 1 ]}' )
else:
    print( f'Error...' )

10 / 2 = 0
10 % 2 = 10

In [51]:
print( f'python ', end = '***' )
print( f'programming' )

python ***programming

In [57]:
# 가변 인수
def my_sum( *arg ):
    ret_value = 0
    for value in arg:
        ret_value += value
        
    return ret_value

In [58]:
print( f'sum = {my_sum( 5, 10, 9, 4, 2, 1, 3, 6, 7, 8 )}' )

sum = 55

In [59]:
print( f'sum = {my_sum( 5, 10, 9, 4, 2 )}' )

sum = 30

In [60]:
print( f'sum = {my_sum( 5 )}' )

sum = 5

In [75]:
# *arg : 가변인수
# **kw : keyword 가변인수
def calculate( op, *arg, **kw ):
    for key, value in kw.items():
        print( f'kw -> {key}:{value}' )
        
    if not isinstance( op, str ):
        return
    if not op in '+*':
        return
    else:
        if op == '+':
            ret_value = 0
            for value in arg:
                ret_value += value
        elif op == '*':
            ret_value = 1
            for value in arg:
                ret_value *= value
    
    return ret_value

In [76]:
print( f'add -> {calculate( "+", 1, 2, 3, 4, 5 )}' )
print( f'multiple -> {calculate( "*", 2, 5 )}' )

add -> 15
multiple -> 10

In [77]:
print( f'add -> {calculate( "-", 1, 2, 3, 4, 5 )}' )
print( f'add -> {calculate( 10, 1, 2, 3, 4, 5 )}' )

add -> None
add -> None

In [78]:
print( f'add -> {calculate( 10, 1, 2, 3, 4, 5, arg1 = 10, arg2 = 20 )}' )

kw -> arg1:10
kw -> arg2:20
add -> None

### 인수 전달 방식

In [79]:
var = 10
print( f'var = {var}( {id( var )} )' )

var = 10( 4378638976 )

In [80]:
var = 20
print( f'var = {var}( {id( var )} )' )

var = 20( 4378639296 )

In [82]:
# 일반 변수 인수 전달
def my_func( arg ):
    print( f'\targument : {arg}( {id( arg ) } )' )
    arg += 10
    print( f'\targument : {arg}( {id( arg ) } )' )
    return

In [83]:
var = 100 # 기본 자료형 변수 - 불변 자료형
print( f'var = {var}( {id( var )} )' )
my_func( var )
print( f'var = {var}( {id( var )} )' )

var = 100( 4378641856 )
	argument : 100( 4378641856 )
	argument : 110( 4378642176 )
var = 100( 4378641856 )

In [84]:
# list 인수 전달
def my_func( arg ):
    print( f'\targument : {arg}( {id( arg ) } )' )
    arg.append( 100 )
    print( f'\targument : {arg}( {id( arg ) } )' )
    return

In [85]:
l = [ 1, 2, 3 ] # 시퀀스 자료형중 list 변수 - 가변 자료형
print( f'var = {l}( {id( l )} )' )
my_func( l )
print( f'var = {l}( {id( l )} )' )

var = [1, 2, 3]( 140564502199808 )
	argument : [1, 2, 3]( 140564502199808 )
	argument : [1, 2, 3, 100]( 140564502199808 )
var = [1, 2, 3, 100]( 140564502199808 )

In [86]:
def sequre( arg ):
    for i in range( len( arg ) ):
        arg[ i ] *= 2
    
    return

In [87]:
l = [ 1, 2, 3 ]
print( f'l = {l}' )
sequre( l )
print( f'l = {l}' )

l = [1, 2, 3]
l = [2, 4, 6]

In [90]:
def my_func():
    l = [ i for i in range( 10 ) ]
    print( f'\tfunc : {l}( {id( l ) } )' )
    
    return l

In [91]:
l = my_func()
print( f'{l}( {id( l )} )' )

	func : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]( 140564502175424 )
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]( 140564502175424 )

In [92]:
print( divmod( 10, 2 ) )

(5, 0)

### 변수 범위

In [96]:
var = 10

In [103]:
def func():
    global var # 전역 변수 사용 선언
    var = 100 
    print( f'\tvar = {var}( { id( var ) } )' )

In [104]:
print( f'var = {var}( { id( var ) } )' )
func()
print( f'var = {var}( { id( var ) } )' )

var = 10( 4378638976 )
	var = 100( 4378641856 )
var = 100( 4378641856 )

## 함수기반 데이터 분석 실습

In [3]:
def create_dataframe( orders, names, heights, presidents ):
    with open( 'president_heights.csv', 'r' ) as f:
        f.readline()
        record = f.readline()
        while record:
            record = record.split( ',' )
            
            orders.append( record[ 0 ] )
            names.append( record[ 1 ] )
            heights.append( int( record[ 2 ][ :3 ] ) )
            
            presidents[ record[ 0 ] ] = [ int( record[ 2 ][ :3 ] ),
                                               record[ 1 ] ]
            record = f.readline()

In [4]:
def print_dataframe( direction, orders, names, heights, length = 5 ):
    if not isinstance( direction, str ):
        return
    elif not direction in 'ht':
        return
    else:
        if direction == 'h':
            start = 0
            stop = length
        else:
            start = len( orders ) - length - 1
            stop = len( orders )
        print( 'order\tname\t\t\theight(cm)' )
        for i in range( start, stop ):
            print( f'{orders[ i ]}\t{names[ i ]:20}\t{heights[ i ]}cm' )
        print( f'\ntotal : {len( orders)}명' )

In [5]:
#
# 함수명 : max_president_info
#        최고 신장 대통령 정보 반환 함수
# 인수 : orders - 대통령 순번
#       names - 대통령 이름
#       heights - 대통령 신장
# 반환값 : max_height : 최고 신장
#        max_height_count : 최고 신장 인원수
#        min_height_info : 최고 신장 대통령 정보
#
def max_president_info( orders, names, heights ):
    max_height = max( heights )
    max_height_count = heights.count( max_height )
    max_height_info = []
    
    start = -1
    for _ in range( max_height_count ):
        start = heights.index( max_height, start + 1 )
        max_height_info.append( start )
    
    return ( max_height, max_height_count, max_height_info )

In [6]:
def min_president_info( orders, names, heights ):
    min_height = min( heights )
    min_height_count = heights.count( min_height )
    min_height_info = []
    
    start = -1
    for _ in range( min_height_count ):
        start = heights.index( min_height, start + 1 )
        min_height_info.append( start )
    
    return ( min_height, min_height_count, min_height_info )

In [7]:
def print_height_info( title, height, height_count, height_info,
                       orders, names ):
    print( f'{title:5} : {height}cm ( {height_count}명 )' )
    for i in height_info:
        print( f'\t[ {orders[ i ]:>2} ] {names[ i ]}' )

In [8]:
# 평균과 표준 편차 계산 함수
import math

def average_standard_deviation( arg ):
    average = sum( arg ) / len( arg )
    
    deviation = []
    for value in arg:
        deviation.append( value - average )
        
    deviation_square = []
    for value in deviation:
        deviation_square.append( value * value )
        
    dispersion = sum( deviation_square ) / len( deviation_square )
    
    
    standard_deviation = math.sqrt( dispersion ) # ** ( 1 / 2 )
    
    return ( average, standard_deviation )

In [9]:
orders = []
names = []
heights = []

presidents = {}

In [10]:
create_dataframe( orders, names, heights, presidents )

In [11]:
print_dataframe( 'h', orders, names, heights )

order	name			height(cm)
1	George Washington   	189cm
2	John Adams          	170cm
3	Thomas Jefferson    	189cm
4	James Madison       	163cm
5	James Monroe        	183cm

total : 42명

In [12]:
print_dataframe( 't', orders, names, heights )

order	name			height(cm)
39	Jimmy Carter        	177cm
40	Ronald Reagan       	185cm
41	George H. W. Bush   	188cm
42	Bill Clinton        	188cm
43	George W. Bush      	182cm
44	Barack Obama        	185cm

total : 42명

In [13]:
max_height, max_height_count, max_height_info = \
    max_president_info( orders, names, heights )
min_height, min_height_count, min_height_info = \
    min_president_info( orders, names, heights )

In [14]:
average, standard_deviation = average_standard_deviation( heights )

In [15]:
print_height_info( '최고 신장', max_height, max_height_count,
                   max_height_info, orders, names )
print()
print_height_info( '최저 신장', min_height, min_height_count,
                   min_height_info, orders, names )
print( f'\n\n평균 신장 : {average:8.2f}cm' )
print( f'표준 편차 : {standard_deviation:8.2f}' )

최고 신장 : 193cm ( 2명 )
	[ 16 ] Abraham Lincoln
	[ 36 ] Lyndon B. Johnson

최저 신장 : 163cm ( 1명 )
	[  4 ] James Madison


평균 신장 :   179.74cm
표준 편차 :     6.93

### 함수 작성 실습

* my_unique() 함수 작성
* 함수 설명 : list 형식의 데이터를 인수로 전달 받아 고유값 list를 반환하는 함수
* 인수 : 고유값을 얻고자 하는 데이터를 가지고 있는 list
* 반환값 : 고유값을 가지고 있는 list

* 예 ) 미국 역대 대통령 신장 데이터셋에서 신장별 인원수를 얻기 위해 고유한 신장값 계산

In [18]:
def my_unique( arg ):
    result = []
    full = False # flag 변수
    
    for value in arg:
        if not full and len( result ) == 0:
            result.append( value )
            full = True
        
        count = result.count( value )        
        if count == 0:
            result.append( value )
            
    return result

In [19]:
print( f'heights : {heights}' )
unique_heights = my_unique( heights )
print( f'\nheights : {unique_heights}' )

heights : [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185]

heights : [189, 170, 163, 183, 171, 185, 168, 173, 175, 178, 193, 174, 182, 180, 188, 179, 177]

### 실습 문제 ) Floating_Population_2004.csv 데이터셋을 파이썬을 이용하여 EDA 수행 실습

* 분석할 내용에 대한 문제 정의는 각자 정의하여 EDA 수행
* 함수를 작성하여 EDA 수행